*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: var(--text-color);
}

:root{
    --background-color : #0b1d3a;
    --text-color : #ffffff;
    --accent-color : #3b82f6;
    --secon-accent-color : #02112b;
    --secondary-color : #d1d5db;
}

html, body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    position: relative;
}

.head{
    width: 100%;
    padding: 10px , 5px;
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

.icon a img{
    height: 15vmin;
    margin: 20px;
}

.lo-btn{
    padding: 10px 30px 10px;
    text-decoration: none;
    background-color: var(--accent-color);
    margin-right: 20px;
    border-radius: 10px;
    font-weight: 800;
}

.fakeHeader{
    width: 100%;
    height: 15%;
}

.main-box{
    width: 85%;
    background-color: var(--secon-accent-color);
    padding: 20px;
    border-radius: 20px;
    margin-left: 125px;
}

.main-box h1, h2{
    margin: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    text-align: start;
    width: 25%;
    background-color: var(--background-color);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.box p{
    color: var(--accent-color);
}

.Transferbox{
    text-align: start;
    width: 50%;
    background-color: var(--background-color);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.Transferbox form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.Transferbox form input{
    padding: 10px 20px 10px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    margin: 10px;
}

.Transferbox form button{
    border: none;
    background-color: var(--accent-color);
    padding: 10px 20px 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.container a{
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 60px 10px;
    border-radius: 5px;
    margin: 10px;
}

table{
    margin: 10px;
    width: 95%;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
}

th, td{
    border-bottom: 1px solid var(--text-color);
    padding: 5px 10px 5px;
}

::-webkit-scrollbar{
    background-color: #0b1d3a00;
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent-color);
    border-radius: 40px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

.flash-message {
    background-color: var(--accent-color);
    color: #a5ffa5;
    padding: 15px 20px;
    margin: 20px auto;
    width: 80%;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px #00ff88aa;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}