<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credenzo</title>
    <link rel="stylesheet" href="/spreadsheets/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon.png">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="icon">
            <a href="/">
                <img src="/images/credenzo.png" alt="">
            </a>
        </div>
        <div class="navigate">
            <a href="#">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="buttons">
            <a href="/login" class="login">Login</a>
            <a href="/create-acc" class="create-acc">Create Account</a>
        </div>
    </header>
    <div class="container">
        <div class="bubbles">
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>

            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
        </div>
    </div>
    <main class="main-body">
        <div class="advt">
            <h1>Smart Secure. <br> Seamless Banking.</h1>
            <p>Experience the future of banking with Credenzo. Manage your finances anywhere, anytime with our user friendly platform.</p>
            <div class="buttons-again">
                <a href="/login" class="login">Login</a>
                <a href="/create-acc" class="create-acc">Create Account</a>
            </div>
        </div>
    </main>
    <section class="about-cards" id="about">
        <div class="card">
            <i class='bx  bx-shield'  ></i> 
            <h3>Secure</h3>
            <p>Your data is protected with industry-leading security.</p>
        </div>

        <div class="card">
            <i class='bx  bx-bolt'  ></i> 
            <h3>Fast</h3>
            <p>Quickly send and receive money with ease.</p>
        </div>

        <div class="card">
            <i class='bx  bx-tv-alt'  ></i> 
            <h3>Easy Access</h3>
            <p>Access your account from any device any time.</p>
        </div>

        <div class="card">
            <i class='bx  bx-headphone-mic'  ></i> 
            <h3>24/7 Support</h3>
            <p>We're here for you, whenever you need support from us.</p>
        </div>
    </section>
    <footer class="contact" id="contact">
        <div class="name-field">
            <h2>Credenzo © 2025</h2>
            <h3>Smart. Secure. Seamless Banking.</h3>
        </div>
        <div class="address-contact">
            Mail : credenzo.banking@gmail.com
        </div>
        <div class="navigate">
            <a href="#">Home</a>
            <a href="#about">About</a>
        </div>
    </footer>
    <script src="/javascripts/script1.js"></script>
</body>
</html>